nav {
    margin-top: 20px; /* Add space between the banner and the navbar */
    background-color: white; /* Set the background color of the navbar to white */
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #ffdfd3 !important; /* Ensure the color is applied */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: #333;
}

.active {
    color: #ff0000; /* Example color for active link */
    text-decoration: underline; /* Example text decoration for active link */
}

